.Contador input {
    font-size: 1.4rem;
    width: 60px;
}

.Contador button{
    margin: 15px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: rgb(137, 100, 225);
    font-size: 1.4rem;
}